

    <!-- SEARCH AREA -->
   <div class="container">
       <div class="jumbotron"> <h1>Offshore Guitar Store</h1> </div>
       
       <label>Search Guitar</label>
       <input (keyup) = "search($event)"/>
           <label>Sort by:
               <select [(ngModel)]="prop" (ngModelChange)="sortOrder()">
                   <option value="name" selected>Name</option>
                   <option value="price">Price</option>
               </select>
           </label>
           <br>
           <label>
               <input type="radio" [(ngModel)]="direction" (ngModelChange)="sortOrder()" name="direction" value="forward" checked>
               Ascending
           </label>
           <label>	
               <input type="radio" [(ngModel)]="direction" (ngModelChange)="sortOrder()" name="direction" value="reverse" >
               Descending
           </label>
           <p> There are currently {{productsLength}} product(s) of in store.</p>
   </div>


<app-product-item class="itemHolder" *ngFor="let product of products" [product]="product" ></app-product-item>
